<div class="contents-post">
    <%= form_for @tweet, url:tweets_path do |f| %>
      <h3>
        投稿
      </h3>
      <h4>
        ごはんのアルバムを作ろう  <i class="fas fa-hand-holding-heart"></i>
      </h4>
      <div class="form">
      <%= f.label :Title %><br>
      <%= f.text_field :title %>
      </div>
      <div class="form">
      <%= f.label :Image %>
      <%= f.file_field :image %>
      </div>
      <div class="form">
      <%= f.label :Episode %>
      <%= f.text_area :text %>
      </div>
      <div class="submit">
      <%= f.submit "SENT" %>
      </div>
    <% end %>
</div>