<div class="content">
  <div class="content-left">
      <div class="post-box">
        <% if user_signed_in? && current_user.id == @tweet.user_id %>
          <div class="more"><i class="fas fa-caret-down"></i>
            <ul class="more-list">
                  <li>
                    <%= link_to '編集', "/tweets/#{@tweet.id}/edit", method: :get %>
                  </li>
                  <li>
                    <%= link_to '削除', "/tweets/#{@tweet.id}", method: :delete %>
                  </li>
            </ul>
          </div>
        <%end%>
        <span class="content_name"><%=@tweet.user.nickname%></span>
        <div class="content_post"><%=image_tag @tweet.image.to_s%></div>
        <div class="content_icon">
          <div id="like-buttons">
            <%= render 'likes/like', tweet: @tweet, likes: @likes, like: @like%>
          </div>
        </div>
        <div class="content_title"><%= @tweet.title%></div>
        <div class="content_text"><%= @tweet.text%></div>
      </div>

      <div class="container"> 
        <% if current_user %>
          <%=form_for @comment, url:"/tweets/#{@tweet.id}/comments" do |f| %>
            <%= f.text_field :text, class:"comment-text" %>
            <%= f.submit "SENT", class:"comment-submit"%>
          <% end %>
        <% end %>
      </div>
      <div class="comments">   
      <h4 class="comments-title">＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p class ="commentbox">
            <strong class="commentbox_name">
              <%= comment.user.nickname%>
            </strong>
            <span class="commentbox_colon">:</span>
            <span class="commentbox_text"><%= comment.text %></span>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
