<div class="content" >
    <p class="content-mypage">
      <span class="my-postlist"><%= @nickname %></span>
      <span class="post-count"><i class="fas fa-piggy-bank"></i>  <%=@post.count%>件</span>
    </p>
    <div class="content-mypost">
      <% @tweets.each do |tweet| %>
        <div class="post-mybox">
          <span class="content_name"><%=tweet.user.nickname%></span>
          <div class="content_post"><%=image_tag tweet.image.to_s%></div>
          <div class="content_icon">
            <i class="fas fa-heart"></i>
            <span class = "likes"><%= tweet.likes_count %></span>
            <%= link_to ("/tweets/#{tweet.id}"), method: :get do %>
              <i class="far fa-comment"></i>
            <%end%>
          </div>
          <div class="content_title"><%= tweet.title%></div>
          <div class="content_text"><%= tweet.text%></div>
        </div>
      <% end %>
      <%= paginate(@tweets) %>
    </div>
  </div>
